<h3>New Snack</h3>
<form class="form-group" action="index.html" method="post">
  <label for="name">Name of Snack:</label>
  <input class="form-control" id="name" type="text" name="name" placeholder="Name" value="">
</form>
